{% load static %}

<h2 class="blog-post-title">RadioCo en Encuentro14</h2>

<div class="blog-post-meta"><span class="post-meta-author"><i class="fa fa-user"></i>Iago Veloso</span><span
        class="post-meta-time"><i class="fa fa-calendar"></i><time
        datetime="2014-04-13">abril 13, 2014</time></span>
</div><!--/.blog-post-meta-->
<div class="blog-post-entry markup-format">
    <p>Hoy se ha presentado RadioCo en Encuentro14 dejándonos muy buenas sensaciones, ¿no has podido ir y te has quedado
        con las ganas? No te preocupes subiremos la presentación en breve. Si tienes alguna pregunta no dudes en
        escribirnos, todo feedback es apreciado.</p>
    <p><a href="{% static 'main/images/articles/IMG_20140413_130609.jpg' %}"
          data-rel="lightbox-gallery-hQLR" title=""><img data-attachment-id="33"
                                                         data-orig-file="{% static 'main/images/articles/IMG_20140413_130609.jpg' %}"
                                                         data-orig-size="3264,2448" data-comments-opened="1"
                                                         data-image-meta="{&quot;aperture&quot;:&quot;2.65&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;Nexus 4&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;1397394369&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;4.6&quot;,&quot;iso&quot;:&quot;300&quot;,&quot;shutter_speed&quot;:&quot;0.05&quot;,&quot;title&quot;:&quot;&quot;}"
                                                         data-image-title="Encuentro14_1" data-image-description=""
                                                         class="size-medium wp-image-33 alignnone"
                                                         src="{% static 'main/images/articles/IMG_20140413_130609-300x225.jpg' %}"
                                                         alt="Encuentro14_1"
                                                         sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1"/></a>
        <a href="{% static 'main/images/articles/IMG_20140413_131751.jpg' %}"
           data-rel="lightbox-gallery-hQLR" title=""><img data-attachment-id="34"
                                                          data-orig-file="{% static 'main/images/articles/IMG_20140413_131751.jpg' %}"
                                                          data-orig-size="3264,2448" data-comments-opened="1"
                                                          data-image-meta="{&quot;aperture&quot;:&quot;2.65&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;Nexus 4&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;1397395071&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;4.6&quot;,&quot;iso&quot;:&quot;300&quot;,&quot;shutter_speed&quot;:&quot;0.05&quot;,&quot;title&quot;:&quot;&quot;}"
                                                          data-image-title="Encuentro14_2" data-image-description=""
                                                          class="wp-image-34 size-medium alignnone"
                                                          src="{% static 'main/images/articles/IMG_20140413_131751-300x225.jpg' %}"
                                                          alt="Encuentro14_2"
                                                          sizes="(max-width: 300px) 100vw, 300px" data-recalc-dims="1"/></a>
    </p>
    <p>
        Links de interés: <a href="http://encuentro14.org/" target="_blank">Web del encuentro</a> , <a
            href="https://www.facebook.com/encuentro14" target="_blank">página de Facebook</a></p></div>