{% load staticfiles %}

<h2 class="blog-post-title">RadioCo consigue un accésit en la VII edición del Premio al mejor PFC con licencia libre</h2>

    <div class="blog-post-meta"><span class="post-meta-author"><i class="fa fa-user"></i>Iago Veloso</span><span
            class="post-meta-time"><i class="fa fa-calendar"></i><time
            datetime="2014-10-21">octubre 21, 2014</time></span>
    </div>
    <!--/.blog-post-meta-->
    <div class="blog-post-entry markup-format">
        <p>El objetivo del premio es acercar a los universitarios gallegos al software libre, de forma que puedan
            incrementar su conocimiento sobre este tipo de tecnologías y abrirles puertas a nuevas posibilidades de
            trabajo relacionado con las tecnologías de la información y la comunicación.</p>
        <p>En esta séptima edición participaron 15 proyectos, siendo 5 de ellos seleccionados como finalistas. Los
            ganadores fueron:<a
                    href="{% static 'main/images/articles/IMG_20141017_184231-500x666.jpg' %}"
                    data-rel="lightbox-gallery-CjKV" title=""><img data-attachment-id="141"
                                                                   data-orig-file="{% static 'main/images/articles/IMG_20141017_184231-500x666.jpg' %}"
                                                                   data-orig-size="500,666" data-comments-opened="1"
                                                                   data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                                                   data-image-title="IMG_20141017_184231-500&#215;666"
                                                                   data-image-description=""
                                                                   class="alignright wp-image-141 size-medium"
                                                                   src="{% static 'main/images/articles/IMG_20141017_184231-500x666-225x300.jpg' %}"
                                                                   alt="IMG_20141017_184231-500x666"
                                                                   sizes="(max-width: 225px) 100vw, 225px"
                                                                   data-recalc-dims="1"/></a></p>
        <p><strong>Vreixo González Caneda</strong> por <em>Aplicativo de cálculo de rutas en transporte público con
            software libre</em>. Este proyecto consistió en el desarrollo de un aplicativo para el sistema operativo
            Android, que ofrece cálculo multimodal de rutas en distintos medios de transporte público, a pie e en
            bicicleta con el objetivo de servir de herramienta de búsqueda de las mejores rutas.<a
                    href="{% static 'main/images/articles/Presentacion-RadioCo.jpg' %}"
                    data-rel="lightbox-gallery-CjKV" title=""><img data-attachment-id="128"
                                                                   data-permalink="http://radioco.org/radioco-consigue-un-accesit-en-la-vii-edicion-del-premio-al-mejor-pfc-con-licencia-libre/presentacion-radioco/"
                                                                   data-orig-file="{% static 'main/images/articles/Presentacion-RadioCo.jpg' %}"
                                                                   data-orig-size="500,666" data-comments-opened="1"
                                                                   data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                                                   data-image-title="Presentación RadioCo"
                                                                   data-image-description=""
                                                                   class="alignleft wp-image-128 size-medium"
                                                                   src="{% static 'main/images/articles/Presentacion-RadioCo-225x300.jpg' %}"
                                                                   alt="Presentación RadioCo"
                                                                   sizes="(max-width: 225px) 100vw, 225px"
                                                                   data-recalc-dims="1"/></a></p>
        <p><strong>Iago Veloso Abalo</strong> por <em>Sistema de grabación automática de la emisión en directo de una
            emisora de radio comunitaria con Software Libre</em>. Este proyecto denominado RadioCo dispone de una
            aplicación web y un programa grabador. La aplicación web es la cara visible del sistema donde los oyentes
            pueden encontrar toda la información de la emisora pudiendo escuchar directamente los programas a través de
            su navegador o subscribirse a aquellos que le interesen. Por la otra cara el programa grabador se encarga de
            manera automática de capturar el sonido y publicar los contenidos en la web.</p>
        <p>El jurado estuvo compuesto por las siguientes personas:</p>
        <ul>
            <li><strong>Víctor Rodríguez Arós</strong> en representación da AMTEGA</li>
            <li><strong>Breogán Cinza Cabarcos</strong> en representación da AMTEGA</li>
            <li><strong>Luís María Hervella Nieto</strong> en representación de la Universidad de A Coruña</li>
            <li><strong>José Varela Pet</strong> en representación de la Universidad de Santiago de Compostela</li>
            <li><strong>Francisco Javier Rodríguez Martínez</strong> en representación de la Universidad de Vigo</li>
            <li><strong>Brais Arias Río</strong> en representación de la Asociación de Programadores y Usuarios de
                Linux, GPUL
            </li>
        </ul>
        <p><a href="{% static 'main/images/articles/Xurado-Finalistas.jpg' %}"
              data-rel="lightbox-gallery-CjKV" title=""><img data-attachment-id="129"
                                                             data-orig-file="{% static 'main/images/articles/Xurado-Finalistas.jpg' %}"
                                                             data-orig-size="500,310" data-comments-opened="1"
                                                             data-image-meta="{&quot;aperture&quot;:&quot;2.4&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;Nexus 5&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;1413569662&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;3.97&quot;,&quot;iso&quot;:&quot;432&quot;,&quot;shutter_speed&quot;:&quot;0.035961&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}"
                                                             data-image-title="Jurado y finalistas"
                                                             data-image-description=""
                                                             data-medium-file="{% static 'main/images/articles/Xurado-Finalistas.jpg' %}"
                                                             data-large-file="{% static 'main/images/articles/Xurado-Finalistas.jpg' %}"
                                                             class="aligncenter wp-image-129 size-full"
                                                             src="{% static 'main/images/articles/Xurado-Finalistas.jpg' %}"
                                                             alt="Jurado y finalistas"
                                                             sizes="(max-width: 500px) 100vw, 500px"
                                                             data-recalc-dims="1"/></a></p>
        <p>Links de interés: <a
                href="http://www.mancomun.org/no_cache/actualidade/novas/detalledenova/nova/vreixo-gonzalez-e-iago-veloso-ganadores-do-premio-ao-mellor-pfc-con-licenza-libre/"
                target="_blank">Resolución do premio</a>, <a
                href="http://www.mancomun.org/no_cache/actualidade/novas/detalledenova/nova/finalistas-para-o-premio-ao-mellor-pfc-con-licenza-libre/"
                target="_blank">Lista de candidatos y finalistas</a></p>
    </div>