{% load staticfiles %}

<h2 class="blog-post-title">RadioCo recibe el premio del público y un segundo premio en el 14º Concurso de Proyectos Tecnológicos</h2>

<div class="blog-post-meta"><span class="post-meta-author"><i class="fa fa-user"></i>Iago Veloso</span><span
        class="post-meta-time"><i class="fa fa-calendar"></i><time
        datetime="2014-12-16">diciembre 16, 2014</time></span>
</div><!--/.blog-post-meta-->
<div class="blog-post-entry markup-format">
    <p>El objetivo principal de este concurso es vincular la investigación realizada en la Universidad en el campo de la
        informática y las telecomunicaciones a las necesidades y demandas reales del mundo empresarial.</p>
    <p>En la Modalidad B (Títulos de Grado en Ingeniería Informática, Grado en Ingeniería de Tecnologías de
        Telecomunicación, Ingeniería Técnica en Informática, Ingeniería Técnica de Telecomunicación) el primer premio,
        fue para el traballo “SketchArm: herramienta de prototipado de armarios para tablets Android” de Rubén Viso
        Vidal, del Grado en Ingeniería Informática del Campus de Ourense, Universidad de Vigo.</p>
    <p>El segundo premio de esta modalidad fue para el proyecto “Sistema de grabación automática de la emisión en
        directo de una emisora de radio comunitaria con Software Libre” de Iago Veloso Abalo, Graduado en Ingeniería
        Informática por la Universidad da Coruña. Además se le concedió el premio del público al ser el proyecto con más
        seguidores en Facebook.</p>
    <p>El tercero recayó en el trabajo “foodAdvisor”, de Julia González García, alumna del Grado en Ingeniería
        Informática de la Universidad de Vigo.</p>


    <p><a href="{% static 'main/images/articles/jurado_y_concursantes.jpg' %}"
          data-rel="lightbox-gallery-AeVg" title=""><img data-attachment-id="182"
                                                         data-orig-file="{% static 'main/images/articles/jurado_y_concursantes.jpg' %}"
                                                         data-orig-size="960,560" data-comments-opened="1"
                                                         data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}"
                                                         data-image-title="jurado_y_concursantes"
                                                         data-image-description=""
                                                         class="wp-image-182 aligncenter"
                                                         src="{% static 'main/images/articles/jurado_y_concursantes.jpg' %}"
                                                         alt="jurado_y_concursantes"
                                                         sizes="(max-width: 640px) 100vw, 640px" data-recalc-dims="1"/></a>
    </p>
    <p>&nbsp;</p>
    <p>Links de interés: <a href="http://expourense.org/not.php?id=183" target="_blank">Resolución del premio</a>, <a
            href="http://expourense.org/xerp/agenda/descargar.php?id=133&amp;tit=Bases%20-%20D%C3%ADptico%20Concurso%20Proyectos%20Tecnol%C3%B3gicos"
            target="_blank">Bases</a></p>
</div>